@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom small utilities */
html, body, #root { height: 100%; }
body { font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial; color: #333; background: #f8f5f2; }
.signature { font-family: 'signature'; }
